.Couple{
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../assets/images/background_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
}
